{% extends 'system/base.html' %}

{% block title %}Contáctanos - Dampro SAC{% endblock %}

{% block content %}
<section id="contactanos" class="contactanos">
  <h1>Contáctanos</h1>
  <p>📞 Teléfonos:</p>
  <ul>
    <li>Roberto Contreras: +51 958 729 308</li>
    <li>Víctor Davis:      +51 967 703 540</li>
  </ul>
  <p>✉️ Correos:</p>
  <ul>
    <li><a href="mailto:rcontreras@damprosac.com">rcontreras@damprosac.com</a></li>
    <li><a href="mailto:vdavis@damprosac.com">vdavis@damprosac.com</a></li>
  </ul>
  <p>🌐 Sitio web: <a href="http://www.damprosac.com" target="_blank">www.damprosac.com</a></p>
  <p>Atendemos 24/7 los 365 días del año. ¡Consulte sin compromiso!</p>
</section>
{% endblock %}
