{% extends 'system/base.html' %}

{% block title %}Cursos – Dampro SAC{% endblock %}

{% block content %}
<section id="cursos" class="cursos">
  <h1>Cursos</h1>
  <p>Ofrecemos <strong>CERTIFICADOS VIRTUALES</strong> en los siguientes cursos:</p>
  <ul>
    <li>Bloque y etiquetado – loto.</li>
    <li>Manejo de extintores.</li>
    <li>Manejo de sustancias químicas.</li>
    <li>Materiales Peligrosos Matpel nivel 1.</li>
    <li>Materiales Peligrosos Matpel nivel 2.</li>
    <li>Montaje y desmontaje de andamios.</li>
    <li>Riesgo eléctrico.</li>
    <li>Trabajos en altura.</li>
    <li>Trabajos en caliente.</li>
    <li>Trabajos en espacios confinados.</li>
    <li>Trabajos en excavación.</li>
    <li>Trabajos en izaje.</li>
    <li>Otros.</li>
  </ul>
</section>
{% endblock %}
